@font-face {
    font-family: Montserrat-Medium;
    src: url("../sources/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("../sources/Montserrat-Regular.ttf");
}

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 600px;
    margin: 0 auto;
}

h1{
    font-family: Montserrat-Medium;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20%;
    font-size: 1.7rem;
    width: 100%;
}

h2{
    font-family: Montserrat-Medium;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 8%;
    font-size: 1.4rem;
    width: 100%;
}

.menu{
    width: fit-content;
    position: relative;
    margin: 0 auto;
}

.menu:after {
    content: "";
    display: table;
    clear: both;
  }

.figure{
    width: 100px; height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}

.figure:nth-child(1){
    border: 2px solid black;
    border-radius: 50%;
}

.green{
    background-image: url(../sources/figure_green.svg);
    width: 120px; height: 120px;
}
.blue{
    background-image: url(../sources/figure_blue.svg);
}
.red{
    background-image: url(../sources/figure_red.svg);
}
.yellow{
    background-image: url(../sources/figure_yellow.svg);
}

body > div{
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: 0 auto;
    width: fit-content;
    margin-top: 25%;
}

div > a{
    text-decoration: none;
    color: black;
    font-family: Montserrat-Regular;
    font-size: 1.2rem;
    font-weight: 600;
}

div > a:hover{
    font-size: 1.4rem;
}